html, body {
  background-color: white;
}

.bg-color {
  background-color: #541ea5;
  color: white;
  background-image: url("../devimage/11.jpg"); /* Replace with your image path */
  background-size: cover; /* Cover the entire element */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center;
}

#searchIcon {
  transition: transform 0.3s ease, color 0.3s ease;
}
#searchIcon:hover {
  transform: scale(1.1);
  color: #fffdd0;
}

.buttom-border {
  border-bottom: 0px solid #541ea5; /* This will create a 2-pixel thick, solid, black border at the bottom of the element */
}

.heading-color {
  color: #fffdd0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.link-icon {
  color: #fffdd0;
  text-decoration: none;
  padding-right: 1rem;
}
.link-icon:hover {
  color: yellow;
  text-decoration: underline;
}

.logo {
  width: 12rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dropdown-bg {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 2rem;
}
.dropdown-bg ul, .dropdown-bg li, .dropdown-bg a {
  color: #eee8e8;
  background-color: transparent;
}

@media (max-width: 768px) {
  #navbarNavDropdown .nav-item a[href="login/login.php"] {
    display: none;
  }
}
.hambergerColor1 {
  background-color: transparent;
  border: none;
  color: #f2f2f2;
}
.hambergerColor1:focus, .hambergerColor1:active {
  background-color: #f4f4f5;
  border: none;
  color: white;
}
.hambergerColor1:hover {
  border: 2px solid #00ff00;
  color: #fffdd0;
  box-shadow: 0 0 10px 3px #00ff00;
}

.hambergerColor2 {
  background-color: #454c86;
  border: none;
  color: wheat;
}
.hambergerColor2:focus, .hambergerColor2:active {
  border: none;
  color: white;
}
.hambergerColor2:hover {
  background-color: #c5c5cf;
  border: none;
  color: white;
}

.nav-link {
  color: #eee8e8;
  text-decoration: none;
  padding-right: 1rem;
}
.nav-link:hover {
  color: #fffdd0;
  text-decoration: none;
}
.nav-link:focus {
  color: #eee8e8;
  outline: none;
}

#login2 {
  color: #fffdd0;
  font-weight: bolder;
}

#userProfilePic {
  width: 2rem;
  border-radius: 50%;
  border-color: #f2f2f2;
  border-width: 1px;
  border-style: solid;
}

.headingLabel {
  color: #fffdd0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}
.headingLabel:hover {
  text-decoration: none;
}

.userProfile:hover {
  text-decoration: none;
  cursor: pointer;
}

.form_heading {
  color: blue;
  text-decoration: none;
  text-align: center;
}

.academic_year {
  text-align: center;
  color: #00ff00;
  font-weight: bolder;
}

#searchIcon {
  color: #DADD98;
}

.navbar-toggler {
  background-color: transparent;
  border-color: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.ae-icon-text {
  font-size: small;
  font-family: "Courier New", Courier, monospace;
}/*# sourceMappingURL=style1.css.map */