#class_list_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: left;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
  
    thead {
      background-color: #aa86f7;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
  
    th, td {
      padding: 12px 15px;
    }
  
    tbody tr {
      border-bottom: 1px solid #dddddd;
  
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
  
      &:last-of-type {
        border-bottom: 2px solid #6c68e3;
      }
  
      td {
        img {
          border-radius: 50%; // Makes the image circular
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          transition: transform 0.2s ease;
          max-width: 50px;
          max-height: 50px;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  
    th {
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
  

  i.fa.fa-download {
    font-size: 24px;
    color: #333;
    transition: all 0.3s ease;

  
    &:hover {
      color: #007bff;
      transform: scale(1.2);
   
    }
  }
  